<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyRes"
        tools:targetApi="31">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.account.LoginActivity" />
        <activity android:name=".ui.account.ClientRegisterActivity" />
        <activity android:name=".ui.home.ClientHomeActivity" />
        <activity android:name=".ui.restaurant.RestaurantDetailActivity" />
        <activity android:name=".ui.restaurant.MenuActivity" />
        <activity android:name=".ui.order.OrderTrackingActivity" />
        <activity android:name=".ui.order.PaymentActivity" />
        <activity android:name=".ui.order.ViewOrdersActivity" />
        <activity android:name=".ui.order.UpdateOrderStatusActivity" />
        <activity android:name=".ui.restaurant.ReviewActivity" />
        <activity android:name=".ui.service.ServiceRequestActivity" />
        <activity android:name=".ui.service.ViewServiceRequestsActivity" />
        <activity android:name=".ui.home.OwnerHomeActivity" />
        <activity android:name=".ui.restaurant.AddRestaurantActivity" />
        <activity android:name=".ui.restaurant.UpdateRestaurantActivity" />
        <activity android:name=".ui.restaurant.MenuManagementActivity" />
        <activity android:name=".ui.account.AddWaitressActivity" />
        <activity android:name=".ui.account.AddKitchenWorkerActivity" />
        <activity android:name=".ui.restaurant.ViewReviewsActivity" />
        <activity android:name=".ui.home.WaitressHomeActivity" />
        <activity android:name=".ui.home.KitchenWorkerHomeActivity" />
    </application>

</manifest>